# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=your_user_here
DB_PASSWORD=your_password_here
DB_NAME=your_name_here
DB_MAX_CONNS=25
DB_MIN_CONNS=5
DB_MAX_CONN_LIFETIME=5m
DB_MAX_CONN_IDLE_TIME=2m
DB_HEALTH_CHECK_PERIOD=1m
# Server
SERVER_PORT=8080

# JWT
JWT_SECRET=your_secret_key_here
JWT_REFRESH=your_refresh_key_here
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=168h